.workBlock{
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    grid-template-rows: auto ;
    grid-template-areas: 
    "photo text"
    ". text";
    margin-bottom: 1em;
    box-sizing: content-box;
}

.workBlock > .photo{
    grid-area: photo;
    justify-content: center;
    align-items: center;
}

.workBlock >  #photo{
    grid-area: photo;
    aspect-ratio: 1/1;
}

.workBlock > .text{
    grid-area: text;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p{
    margin-top: 0;
    margin-left: 10px;
}

h3{
     margin-left: 10px;
}
